<%- include('./partials/header.ejs') %>

<%- include('./partials/nav.ejs') %>

<section class="movie-details">
    <div>
	    <h1 class="movie-title">
            <%= title %>
        </h1>
		<p class="movie-description">
            <%- intro %>
		</p>
	</div>
    <img src="<%= image %>" alt="<%= title %>" class="movie-poster">
    
</section>

<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>

</body>

</html>